.editorconfig
.godot/editor/ui.tscn-editstate-bc7c2c8286022576ab0a03a61017540b.cfg
.godot/editor/project_metadata.cfg
.godot/editor/player.tscn-editstate-1753c997600d68ab5d20ae99fddb15c6.cfg
.godot/editor/map_1.tscn-editstate-4e6b98e3f778d6b6a08e41dd74618229.cfg
.godot/editor/editor_layout.cfg
